---
server: irc.coldfront.net
port: 6667

# SSL doesn't work yet. This is a placeholder config. :(
SSL: false
channels: ['#werewolf', '#werewolfops']

# If all nicks specified here are taken, it'll start appending underscores
nicks: [Wolfbot,Wolfbot2,Wolfbot3]
password: 123123123

# Auto-rejoin on kicks
# TODO: Throttle this
rejoin: true

# Must be a regex
prefix: /^!/
