---
server: irc.coldfront.net
port: 7778
ssl: true
verify_certs: false

### Uncomment and modify the below options only if you need them for your network.
# ca_path: /etc/ssl/certs
# client_cert: /path/to/client/certificate

channels: ['#werewolf', '#werewolfops']

# If all nicks specified here are taken, it'll start appending underscores
nicks: [Wolfbot,Wolfbot2,Wolfbot3]
password: 123123123

# Auto-rejoin on kicks
# TODO: Throttle this
rejoin: true

# Must be a regex
prefix: /^!/
